<h2>My Heroes</h2>
<div class="ib">
  <ul class="heroes">
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onClick(hero)"
      (mouseenter)="onMouseEnter(hero)"
      (mouseleave)="onMouseLeave()">
      <div>
          
          <span class="badge">{{hero.id}}</span> {{hero.name}}  
      </div>
    </li>
  </ul>
</div>

<app-hero-detail [hero]="selectedHero" [isBtnClicked]="isBtnClicked"></app-hero-detail>
<app-hero-tooltip-details [hero]="selectedHero"></app-hero-tooltip-details>
